<ion-view view-title="Login" >
  <ion-content class="padding" style="background: url('img/fondo.png');">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="email@correo" ng-model="Correo">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="contra">
      </label>
    </div>
    <button class="button button-full button-balanced"
      ng-click="validar(Correo, contra)">
      Iniciar Sesion
    </button>
    <button class="button button-assertive" ng-click="CambiarAregistro('registrarse')">
      Registrarse
    </button>
    <h2>{{ error }}</h2>
  </ion-content>
</ion-view>
