<ion-view view-title="Signup">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Nombre" ng-model="Nombre">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="Apellido">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="email@correo" ng-model="Correo">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="contra">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Repetir Password" ng-model="rcontra">
      </label>
      <label class="item item-input">
       <input type="date" placeholder="Fecha Nacimiento" ng-model="fnac">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="telefono" ng-model="Telefono">
      </label>
      <ion-toggle  ng-model="bobtoggle">
         BOB
      </ion-toggle>

      <div>{{ error }}</div>

    <button class="button button-full button-balanced" ui-sref="tab.dash" ng-click=
    "registrar(Nombre, Apellido,Correo, contra, rcontra, fnac, Telefono, bobtoggle)">
      Registrarse
    </button>


  </ion-content>
</ion-view>
