<ion-view view-title="Signup">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Nombre" ng-model="Nombre">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="Apellido">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="email@correo" ng-model="Correo">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="contra">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Repetir Password" ng-model="rcontra">
      </label>
      <label class="item item-input">
       <input type="date" placeholder="Fecha Nacimiento" ng-model="fnac">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="telefono" ng-model="Telefono">
      </label>
      <ion-toggle  ng-model="bobtoggle" ng-click="HideBob()">
         BOB
      </ion-toggle>
    </div>
    <div ng-hide="BobSubs">
      <p style="text-align: center">Seleccione las areas en las que esta dispuesto a ayudar</p>
      <div class="item item-input item-select">
           Categorias
         <select ng-model="catSelect" ng-change="showSelectValue(catSelect)">
           <option ng-repeat="cate in Cates">{{ cate.name }}</option>
         </select>
       </div>

      <div class="list list-inset">
        <li class="item item-checkbox  checkbox-royal" ng-repeat="sub in subs" ng-model="sub.selected">
           {{sub.Nombre}}
           <label class="checkbox">
             <input
              type="checkbox"
              name="selectedSubs[]"
              value="{{sub.Nombre}}"
              ng-model="sub.selected"
            >
           </label>
        </li>
      </div>
      <button class="button button-positive" ng-click="addSubs()"
      style="font-size: 25px; border-radius: 50%; padding-bottom: 5px">
      +
      </button>
    </div>


      <div>{{ error }}</div>

    <button class="button button-full button-balanced" ng-click=
    "registrar(Nombre, Apellido,Correo, contra, rcontra, fnac, Telefono, bobtoggle, 'login')">
      Registrarse
    </button>


  </ion-content>
</ion-view>
