<ion-view view-title="Account" >
  <ion-content class="padding" style="background: url('img/fondo.png');">
    <div style="text-align:center; padding:10px 0 10px 0;">
      <img src="img/adam.jpg" width="150px" height="150px" style="border-radius:100%;">
    </div>
    <div class="list">

      <div class="item item-icon-left">
        <i class="icon ion-ios-person"></i>
        {{ usuario.Nombre }} {{ usuario.Apellido }}
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
          {{ usuario.Telefono}}
      </div>

      <div class="item item-icon-left" href="#">
        <i class="icon ion-ios-email"></i>
        {{ usuario.Correo }}
      </div>

      <div class="item item-icon-left" href="#">
        <i class="icon ion-map"></i>
        Ubicacion
      </div>

    </div>

    <div>
      <img src="img/maps.png" width="100%" height="auto">
    </div>

    <button class="button button-full button-assertive" ui-sref="login">
      Log Out
    </button>

  </ion-content>
</ion-view>
