<ion-view view-title="Solicitudes">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>Andres Rios</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-body">
        <p>
          1
        </p>
        <p style="text-align:center">
          <button class="button button-balanced">Aceptar</button>
          <button class="button button-assertive">Rechazar</button>
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/ben.png">
        <h2>Carola</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-body">
        <p>
          2
        </p>
        <p style="text-align:center">
          <button class="button button-balanced">Aceptar</button>
          <button class="button button-assertive">Rechazar</button>
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>Male</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-body">
        <p>
          3
        </p>
        <p style="text-align:center">
          <button class="button button-balanced">Aceptar</button>
          <button class="button button-assertive">Rechazar</button>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
