<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Trabajos">
  <ion-content class="padding" style="background: url('img/fondo.png');">
    <label class="item item-input item-select">
      <div class="input-label">
        BOB
      </div>
      <select ng-model="bobSelect" ng-change="showSelectValue(bobSelect)">
          <option ng-repeat="BOB in BOBs">{{ BOB.idUsuario }}</option>
      </select>
    </label>
    <div ng-repeat="Trabajo in Trabajos">
      <div class="list card">
        <div class="item item-avatar">
          <h2>Solicitante: {{ Trabajo.idUsuario }}</h2>
        </div>
        <div class="item item-body">
          <p>Descripcion: {{ Trabajo.Descripcion }}</p>
          <p>Categoria: {{ Trabajo.Categoria }}</p>
          <p>SubCategoria: {{ Trabajo.Subcategoria }}</p>
          <p>Ubicacion: {{ Trabajo.Ubicacion }}</p>
          <div class="row-fluid" style="text-align:center">
              <button class="button button-balanced"  style="margin-right: 40px;">Aceptar</button>
              <button class="button button-assertive">Rechazar</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
