<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Trabajos">
  <ion-content class="padding" style="background: url('img/fondo.png');">
    <div ng-repeat="Trabajo in Trabajos">
      <div class="list card">
        <div class="item item-avatar">
          <h2>Solicitante: {{ Trabajo.nombre1 }} {{Trabajo.apellido}}</h2>
          <h1>{{ Trabajo.Correo }}</h1>
        </div>
        <div class="item item-body">
          <p>Descripcion: {{ Trabajo.Descripcion }}</p>
          <p>Tipo: {{ Trabajo.nombre }}</p>
          <p>Ubicacion: {{ Trabajo.Ubicacion }}</p>
          <div class="row-fluid" style="text-align:center">
          <!--   <button class="button button-balanced"  style="margin-right: 40px;" ng-click="Aceptar()">Aceptar</button>
            <button class="button button-assertive" ng-click="Rechazar()">Rechazar</button>-->
            <button class="button button-full button-balanced"
             ng-click="Aceptar(Trabajo.nombre1, Trabajo.apellido, Trabajo.id )">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
